<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Weather app</title>
</head>
<body>
        <form action="/forecast" method="get">
                <h1>Get Weather Results</h1>
                <div class="search-container">
                        <input type="text" name ="q" class="search-bar" placeholder="Location: e.g. Kuala Lumpur, Malaysia">
                        <button class="search-button">Search</button>
                </div>
        </form>
</body>
</html>